@import "tailwindcss";

@theme {
  --color-gray-950: #0a0c10;
  --color-gray-900: #111827;
  --color-gray-800: #1f2937;
  --color-gray-700: #374151;
}

body {
  background-color: var(--color-gray-950);
  color: white;
  min-height: 100vh;
  font-feature-settings: "rlig" 1, "calt" 1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.monaco-editor {
  padding-top: 10px;
  border-radius: 0.375rem;
}

.monaco-editor .overflow-guard {
  border-radius: 0.375rem;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #0f172a;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}
